<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Styling HTML5</title>
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js" rel="external nofollow" rel="external nofollow" ></script>
  <![endif]-->
</head>

<script>
document.createElement("myHero")
</script>
<style>
myHero {
	display: block;
	background-color: #ddd;
	padding: 50px;
	font-size: 30px;
}
</style>
<body>
<a href="/static/html5_shiv.html" >shiv 兼容</a> <br/>

<video width="320" height="240" controls>
  <source src="/static/video/movie.mp4" type="video/mp4">
  <source src="/static/video/movie.ogg" type="video/ogg">
  你的浏览器不支持 video 标签。
</video>


	<h1>我的第一个标题</h1>

	<p>我的第一个段落。</p>

	<myHero>我的第一个新元素</myHero>

<canvas id="myCanvas" width="200" height="100" style="border:10px dotted #000000; background:#ddd;">
您的浏览器不支持 HTML5 canvas 标签。
</canvas>

</body>
</html>