<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>movie</title>
    <style type="text/css">
    font {font-style:italic;font-size:small}
    </style>
</head>
<body>

<table border = 1>
    <tr>
        <th>图片</th>
        <th>描述</th>
        <th>播放</th>
    </tr>

     {% for item in result %}
    <tr>
        <td> <img src="{{ item.get('image_url', '') }}" alt="img" width="120px" height="160px" /> <br/> {{ item.get('name', '') }}</td>
        <td><font>{{ item.get('desc', '') }} </font> </td>
        <!--<td> <a href="{{ url_for('play')}}?url={{ item.get('play_url', '') }}" >播放</a> </td> -->
        <td> <a href="{{ item.get('play_url', '') }}">播放</a> </td>
    </tr>
 {% endfor %}
</table>

</body>
</html>