<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>Play</title>
<style type="text/css">
body,html,#tv{background-color:black;padding: 0;margin: 0;width:100%;height:100%;color:#999;position:relative;overflow: hidden;}
</style>
</head>
<body>
<div id="tv" style="psotion:relative;">
    <iframe width="100%" height="100%" allowFullScreen="true" allowTransparency="true" frameborder="0" scrolling="no" src="{{url}}"></iframe>
</div>
</body>
</html>